* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
}

body {
    background-color: #E8E8E8;
}

.nav {
    background-color: #F9EFEF;
    display: flex;
    flex-direction: column;
    padding: 1% 0 1% 15%;
    /* margin: 0 0 1% 20%; */
    box-shadow: 0 0 5px 2.5px  lightgrey;
}

.nav h1, a, i {
    color: black;
}

ul {
    display: flex;
    align-items: flex-end;
    /* border: solid 1px black; */
}

a {
    text-decoration: none;
    padding: 1em 1em 0 0;
}

a:hover {
    text-decoration: underline;
    color: blue;
}



/* ENDING - OLD CODE BELOW*/


/*.

.blogPost {
    background-color: #F9EFEF;
    margin: 5% 20% 1% 15%;
    margin: 2em 30em 3em 18em;
    padding: 2em 2em 2em 2em;
    padding: 2% 2% 2% 2%;
    width: auto;
    height: auto;
    box-shadow: 0 0 5px 2.5px lightgrey;
    font-size: 20px;
}

.postDate {
    color: gray;
    padding-bottom: 1em;
}

.postText{
    padding-top: 1em;
}

*/
